<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="${applicationId}" xmlns:tools="http://schemas.android.com/tools" android:versionName="1.0" android:versionCode="1" android:installLocation="preferExternal">
  
  <application android:theme="@style/UnityThemeSelector" android:icon="@drawable/app_icon" android:label="@string/app_name" android:isGame="true" android:banner="@drawable/app_banner">
    
    <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
    <meta-data tools:replace="android:value" android:name="UMENG_APPKEY" android:value="593e4c24e88bad0939001ac3"></meta-data>
    <meta-data tools:replace="android:value" android:name="UMENG_CHANNEL" android:value="UnityPlugin"/>
    <meta-data tools:replace="android:value" android:name="com.facebook.sdk.ApplicationId" android:value="fb1346479378776250"/>
    <meta-data tools:replace="android:value" android:name="APPS_FLYER_DEV_KEY" android:value="aGkfXHboxFBHAXb8tjpieR"/>

    <provider tools:replace="android:authorities" android:authorities="${applicationId}.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
    <provider tools:replace="android:authorities" android:authorities="${applicationId}.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>


    <activity android:label="@string/app_name" android:screenOrientation="fullSensor" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:name="com.handarui.unity.plugin.playgames.PlayGamesUnityPlayerActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
  </application>

  <uses-permission android:name="com.google.firebase.iid.permission.C2D_MESSAGE" tools:node="remove" />
  <permission android:name="com.google.firebase.iid.permission.C2D_MESSAGE" tools:node="remove" />

  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
  <permission
      android:name="${applicationId}.permission.C2D_MESSAGE"
      android:protectionLevel="signature"/>


</manifest>